@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.row2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
ul{
	list-style: none;
}
.footer{
	background-color: #2b2b2b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;

}
.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ff5722;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col p {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


.footer-bottom {
	background: #2b2b2b;
	border-top: 1px solid #363636;
	padding: 21px 0;
  }
  .footer-bottom .copy-text {
	color: #949494;
	font-size: 14px;
  }
  .footer-bottom .copy-text p {
	color: #949494;
	font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #949494;
    line-height: 26px;
    font-family: 'Roboto-light';
  }
  .footer-bottom .copy-text a {
	color: #ff5722;
	font-size: 14px;
	text-decoration: none;
  }
  
  .footer-bottom a {
	color: #ff5722;
	font-size: 16px;
	transition: .3s ease;
  }
  .pull-left {
	  float: left;
  }
 .pull-right a {
	text-decoration: none;
 }
 


.styled-form .pull-left label,
.styled-form .pull-right label{
  cursor:pointer;
  font-weight:400;
}
.styled-form .pull-left input {
  display: inline-block;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}




