.intro{
  color: #333;
  text-align: center;
  font-size: 20px;
}
.humanity_problems{
 text-align: center;
 padding-top: 30px;
}
.humanity_problems_title{
  font-size: 30px;
  text-align: center;
  color: #333;
  text-transform: uppercase;
  /*border-bottom: 2px solid #ff5722;*/
  display: inline;
}
.humanity_problems_title span{
  color: #ff5722;
}
.humanity_problems_items{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}
.problem {
  width: 350px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0px 5px 20px #999;
}

.problem .post-info{
  text-align:right;
  margin-right: 15px;
}

.problem a {
  color: #333; 
  text-decoration: none;
}
.problem a:hover .photo_problem img { 
  width: 160%;
}
.photo_problem {
  height: 200px;
  position: relative;
  overflow: hidden;
}
.photo_problem img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: filter width; 
  transition-duration: .3s;
  transition-timing-function: ease;
}
.problem-infos {
  text-align:center;
  padding: 15px 20px;
  box-sizing: border-box;
}
.titre-problem, .problem-description {
  font-family: 'Playfair Display', serif;
}
.titre-problem {
  text-align:center;
  text-transform:uppercase;
  font-weight: bold;
  color: #ff5722;
 }
 .post-info{
 
 }
 .post-info, .problem-description {
  color: #777;
 }
 .post-info {
  font-family: 'Source Sans Pro', sans-serif;
}
